@tailwind utilities;

@layer base {
  body,
  html {
    width: 800px;
    height: 600px;
    font-size: 8px;
  }
}

.swiper-button-prev {
  color: black;
}
.swiper-button-next {
  color: black;
}
.swiper-pagination-bullet-active {
  background-color: black;
}
